<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Data Entry</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <div class="box">

    <div class="border-line"></div>

    <form method="POST" action="/" >
        <h1>ENTER PATIENT DETAILS</h1>

        <div class="input-box">
            <input type="text" name="passkey" required>
            <span>Passkey (Numeric)</span>
            <i></i>
        </div>

        <div class="input-box">
            <input type="text" name="name" required>
            <span>Patient Name</span>
            <i></i>
        </div>

        <div class="input-box">
            <input type="text" name="phone" required>
            <span>Phone Number</span>
            <i></i>
        </div>

        <div class="input-box">
            <input type="number" name="age" required>
            <span>Age</span>
            <i></i>
        </div>

        <div class="input-box">
            <input type="text" name="blood_group" required>
            <span>Blood Group</span>
            <i></i>
        </div>

        <div class="input-box">
            <input type="number" step="0.1" name="cholesterol_level" required>
            <span>Cholesterol Level</span>
            <i></i>
        </div>

        <div class="input-box">
            <input type="number" step="0.1" name="sugar_level" required>
            <span>Sugar Level</span>
            <i></i>
        </div>

        <div class="input-box">
            <select name="accident_history" required>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <span>Accident History (Yes/No)</span>
            <i></i>
        </div>

        <div class="input-box">
            <select name="surgery" required>
                <option value=""></option>
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
            <span>Surgery History (Yes/No)</span>
            <i></i>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>
